body {
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSztm84E_s7IiHEmD3qwZshhj1VB5R-F31vAQ&s);
}

.navbar {
  background-color: rgb(189, 75, 94);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}

.navbar .logo {
  font-size: 30px;
}

.navbar .nav-links {
  list-style: none;
  display: flex;
  gap: 15px;
}

.navbar .nav-links li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.navbar .nav-links li a:hover {
  text-decoration: underline;
}

.form-section {
  max-width: 460px;
  margin: 60px;
  background-color: whitesmoke;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.form-section h2 {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  margin-top: 15px;
  padding: 10px;
  background-color: #dd456b;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color:#ec8fba;
}

footer {
  background-color: #fadbdb;
  color: rgb(53, 43, 43);
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
